body {
    background-color:black;
}

Canvas {
    height: 100vh !important;
   
    
}


.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 10;
    border-radius: 20px



}